{
  "parser": "babel-eslint",
  "extends": [
    "plugin:jest/recommended",
    "plugin:flowtype/recommended",
    "react-app",
    "prettier",
    "prettier/flowtype",
  ],
  "plugins": [
    "flowtype",
    "prettier",
    "jest"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
      "generators": true,
      "experimentalObjectRestSpread": true
    }
  },
  settings: {
    "import/ignore": ["node_modules"],
    "import/extensions": [".js"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".json"]
      }
    }
  },
  "rules": {
    "prettier/prettier": ["warn", {
      "trailingComma": "es5",
      "bracketSpacing": true,
      "singleQuote": true,
      "jsxBracketSameLine": true
    }],
    "no-console": "off",
    "react/jsx-no-bind": "error",
    "import/order": "warn"
  }
}
