.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
