.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 2em;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
