.navBar {
  list-style: none;
  background: #009688;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 1em;
}

.navBar a {
  color: white;
}

.navBar a:hover {
  color: #212121;
}
